In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

C:\ProgramData\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 216, got 192
  return f(*args, **kwds)

In [27]:
#drop_duplicates
#创建数据集
data = pd.DataFrame({"a":[1,2,4,4],"b":[4,3,4,4]})

In [28]:
data.drop_duplicates()

   a  b
0  1  4
1  2  3
2  4  4